 /*=============== GOOGLE FONTS ===============*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


.imageheader{
    position: relative;
}
.imageheader .bottom-left{
    position: absolute;
    top:80%;
left:5%;
color: white;
font-weight: 700;
font-size: 2.1rem;
}