 /*=============== GOOGLE FONTS ===============*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');



 html,body{
   padding: 0;
   padding-bottom: 0;
   height: 100%;
   width: 100vw;
   margin: 0;
   background-color: rgb(255, 255, 255);
   font-family: 'Poppins','sans-serif';
   
 }
 body{
   overflow-x: hidden;
   padding-top: 9.5vh;
  }
  @media screen and (max-width: 768px) {
    body{
      padding-top: 7vh ; 
    }
  }

 /*navbar*/  
 .nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #001; /* Black background */
  padding: 10px 20px;
  position: fixed;
  width: 100vw;
  top:0;
  z-index: 171;
  height: 7vh;
}
.nav-logo{
  width: 15%;
  height: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img { /* Manage logo size*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}


.nav-link {
  color: white; /* White text */
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.nav-link.active {
   pointer-events: none;
}
.nav-link:hover {
  text-decoration: underline; /* Underline on hover */
}
#navMenu a.active::after {
  width: 100%;
}

 
.nav-menu {
  display: flex;
  align-items: center; /* Align links with logo */
  justify-content: center;
  width: 80%;
  gap: 10px;
  padding-left: 15%;
  padding-right: 15%;
   font-weight: 500;
}

#rightbtn{
  min-width: 10%;
  min-height: 100%;
  display: flex;
  align-items: center;
}

#rightbtn button{
  width: 30px;
  height: 30px;
  border-radius: 7px;
  margin-right: 2px;
    background-color: #0091df;
    border: 1px solid #00445b;
    transition: 0.3s;
}
#rightbtn button:hover{
  background-color: #008dda;
  scale: 1.1;
}

#navMenu a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
   letter-spacing: 0.1px;
  position: relative;
  padding: 0 10px;
  transition: 0.3s;
  display: block;
  cursor: pointer;
}

 
.nav-logo img:hover{
  scale: 1.1;
}
#navMenu a:hover::after{
  width: 100%;

}

#navMenu a::after{
  content: "";
  position: absolute;
  background-color: #0097e8;
  height: 3px;
  width: 0;
  transition: 0.3s;
  left: 0;
  bottom: -10px;
}


.nav-toggle {
  display: none;
  
}

.nav-toggle div {
  width: 25px;
  height: 3px;
  background-color: white; /* White hamburger icon */
  margin: 4px 0;
}

@media screen and (max-width: 768px) {
  .nav-container{
    display: flex;
    justify-content: space-between;
    height: 6vh;
  }
  .nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .nav-menu.active {
      display: flex;
  }

  .nav-toggle {
      display: flex;
  }

  .nav-link {
      text-align: center;
      padding: 10px;
      border-top: 1px solid #444;
  }
  .nav-logo{
    width: 40%;
    height: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-logo img{
    height: 80%;
    width: 80%;
  }
}

#close-mobile-header{
   display: none;

   transition: 0.3s;
}

/*Nav for mobiles*/
#mobile-menu-container {
  position: fixed;
  top: -800px;
  left: 0;
  width: 100vw;
  z-index: 241;
  height: 37vh;
  background-color: rgb(30, 30, 30);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  transition: top 0.3s ease-in-out;
  display: none;
  transition: 0.3s;
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 5px;
  align-content: center;
  border-radius: 5px;
 }

@media screen and (max-width: 768px) {
  #mobile-menu-container {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  #mobile-menu-container {
    display: none !important;
  }
}

#mobile-menu {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  height: 97%;
  max-width: 98%;
  padding-left: 4px;
  padding-bottom: 4vh;
  
  }

#mobile-menu .nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: all 0.3s ease;
   word-spacing: 5px;
   text-align: center;
   align-content: center;
   border: 2px solid rgb(53, 53, 53);
   box-shadow: 8px 8px 10px black, inset 5px 5px 8px black;
   border-radius: 5px;
   width: 70%;
   margin-left: 4px;
   font-weight: 400;
 }

#mobile-menu .nav-link:hover {
  text-decoration: underline;
}

#close-mobile-menu {
  grid-column: 2;
  grid-row: 2;
  background-color: #0091df;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
}

#close-mobile-menu:hover {
  background-color: #008dda;
}

 /* navside bar*/
/* Sidebar */
#sidebar {
  height: 97vh;
  width: 20%;
  position: fixed;
  top: 1vh;
  backdrop-filter: blur(6px);
  background: linear-gradient(to bottom, rgba(238, 249, 255, 0.9), rgba(160, 213, 250, 0.9));
  z-index: 251;
  overflow-x: hidden;
  color: black;
  right: -200%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-weight: 600;
  box-shadow: 0 0 4px black;
  transition: 0.3s;
}

#sidebar.open {
  right: 0;
  transition: 0.3s;
}

#close-sidebar {
  position: absolute;
  top: 3%;
  left: 80%;
  width: 23px;
  height: 23px;
  z-index: 311;
  color: black;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

#sidebar-content {
  width: 90%;
  height: 95%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: black;
}
#sidebar h3{
  width: 50%;
  font-weight: 600;
  text-align: left;
  padding-left: 25px;
  color: black;
}
#sidebar ul{
  list-style: none;
 align-items: left;
 display: flex;
 flex-direction: column;
 padding-left: 5px;
 gap: 5px;
 margin-top: 35px;
}

#sidebar ul li.active {
  background: linear-gradient(to right, rgba(7, 131, 255, 0.548), rgba(0, 179, 255, 1.0));
  padding-left: 15px;
  color: white;
}
#sidebar ul li {
  padding: 3px;
  border-radius: 10px;
  transition: 0.2s;
}

#sidebar ul li.active:hover {
  color: white;
}
#sidebar ul li:hover{
  background: white;
  padding-left:15px ;
  color: white;
 }

#sidebar-content ul a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: medium;
  font-weight: 400;
  transition: 0.2s;
  width: 100%;
  height: 100%;
}

#sidebar-content ul a.active {
  font-weight: 700;
  color: black;
}


#sidebar-content ul a:hover{
  font-weight: 500;
  scale: 1.1;
 }
close-sidebar:hover{
    color: #005887;
}

@media screen and (max-width: 600px) {
  #sidebar.open {
    right: 5vw;
    transition: 0.3s;
  }
  #sidebar{
    height: 53vh;
    top:45vh;
    width: 90%;
    border-radius: 10px;
  }
  
#sidebar-content ul a {
  display: block;
  text-decoration: none;
  color: black;
  font-size:larger;
  font-weight: 400;
  transition: 0.2s;
  width: 100%;
  height: 100%;
}
#sub-sidebar.open {
  right: 5vw;
  transition: 0.3s;
  width: 100%;
  height: 90%;
  top:8vh;
  z-index: 331;
}
#sub-sidebar-content ul a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: 500;
  transition: 0.2s;
  width: 100%;
  height: 100%;
}
#sub-sidebar-content ul{
  font-size: 20px;
  font-weight: 500;
}
#close-sub-sidebar{
  left:50%;
}
#rightbtn{
  display: none;
}
.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 0px;
  max-width: 100vw;
}
.nav-toggle{
  flex-direction: column;
  cursor: pointer;
  width: 15%;
  row-gap: 0.5px;
}
#close-mobile-header{
  width: 23px;
  height: 23px;
  color: white;
  font-size: 1.4rem;
  font-weight: bolder;
   text-align: center;
   width: 15%;
   margin-right: 5%;
}
}

/* Sub-sidebar */
#sub-sidebar {
  height: 88.5vh;
  width: 50%;
  position: fixed;
  top: 10vh;
  backdrop-filter: blur(6px);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(25, 25, 25, 0.9));
  z-index: 131;
  overflow-x: hidden;
  color: white;
  right: -300%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  transition: 0.3s;
}

#sub-sidebar.open {
  right: 0;
  transition: 0.3s;
}

#close-sub-sidebar {
  position: absolute;
  top: 3%;
  left: 48%;
  width: 23px;
  height: 23px;
  z-index: 401;
   border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s;
}

#sub-sidebar-content {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
#sub-sidebar h3{
  width: 50%;
  font-weight: 600;
  text-align: left;
  padding-left: 25px;
}
#sub-sidebar ul{
  list-style: none;
 align-items: left;
 display: flex;
 flex-direction: column;
 padding-left: 5px;
 gap: 5px;
 margin-top: 35px;
}

#sub-sidebar ul li {
  padding: 6px;
  border-radius: 10px;

  transition: 0.2s;
}

#sub-sidebar ul li.active {
  background-color: #2d2d2d;
  padding-left: 15px;
}
#sub-sidebar ul li:hover{
  background-color: #2d2d2d;
   }

#sub-sidebar-content ul a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: medium;
  font-weight: 400;
  transition: 0.2s;
  width: 100%;
  height: 100%;
}

#sub-sidebar-content ul a.active {
  font-weight: 500;
  color: white;
}
#sub-sidebar-content ul li a:hover{
  font-weight: 500;
  scale: 1.1;
 margin-left: 5px;
 transform: translateX(8%);
 }
close-sidebar:hover{
    color: #008dda;
}
 /* navside bar end*/



 /* navbar end*/
 /* image slider*/
 
 #image-container{
   height: 89.5vh;
   background-color: rgb(0, 0, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
   overflow: hidden;
 }
 #slider{
   height: 100%;
   background-color: rgb(0, 0, 0);
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .embla {
   overflow: hidden;
   background-color: rgb(0, 0, 0);
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .embla__container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   background-color: rgb(0, 0, 0);
  }
 .embla__slide {
   
   padding-left: 4px;
  
   min-width: 100%;
   max-height: 100%;
   overflow: hidden;
    background: #000;
 
 }
 .embla__slide img{
  max-height: 100vh;
 max-width: 100vw;
 margin-left: 0px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.5);
 
  }
/*  
  @media screen and (max-width: 600px) {
      #image-container{
        width: 100%;
        height: 25vh;
      }
      .embla__slide img{
        width: 98%;
        height: 100%;
        margin-left:4px ;
      }
      .embla__slide {
        display: flex;
        align-items: center;
        justify-content: center;
      }
  }
  */
/*
*/
@media screen and (min-width: 601px) {
  #image-container-small {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #image-container {
    display: none; /* hide on small screens */
    position: relative;
  }
  #image-container-small {
    display: block; /* show on small screens */
    width: 100%;
    height: 27vh;
  }
  .embla-small {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embla__container-small {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
  .embla__slide-small {
    position: relative; /* Make the slide a relative container */
    padding-left: 4px;
    min-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background: #000;
  }
  .embla__slide-small img {
    width: 98%;
    height: 100%;
    margin-left: 2px;
    object-fit: cover;
  
  }.slide-text {
    position: absolute; /* Position text absolutely */
    top: 10px; /* Move text 10px from the top edge */
    left: 20px; /* Move text 10px from the left edge */
    transform: none; /* Remove the centering transform */
    text-align: left; /* Align text to the left */
    color: white;
    z-index: 1; /* Ensure text is on top of the image */
    width: 90%;
    height: 60%;
    padding: 2px;
   }
  
  .slide-text h2 {
    font-size: 1.2rem;
    margin-bottom: 1.5px;
    width: 100%;
    font-weight: 600;
  }
  
  .slide-text p {
    font-size: 0.8rem;
    margin-bottom: 0;
    width: 100%;
    font-weight: 300;
  }
  .embla__buttons-small {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 0 10px;
    z-index: 2; /* Ensure buttons are above the slides */
  }

  .embla__button-small {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
  }
}

 /* image slider End*/
 /* 3d image left to right*/
 
 
 
 #squares{
   overflow-x: hidden;
   background: linear-gradient(to bottom, #00182c, #001724);

     height: 90vh; 
   width: 100vw; 
   box-shadow: inset 0 -10px 30px black;
   position: relative; 
   display: flex; 
   justify-content: center; 
   align-items: center;
 }
 
 .mySwiper {
  width: 400px;
  height: 400px;
  }
 
 .swiper-wrapper {
   width: 100%;
   height: 100%;
 }
 
 .swiper-slide {
   width: 90%;
   height: 90%;
   border-radius: 20px;
   overflow: hidden;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5) ;
    box-shadow: 0 -15px 30px rgba(0,0,0, 0.8);
   }
 
 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;

 }
 
 .swiper-slide:hover{
scale: 1.02 
}

 .swiper-button-next::after,
 .swiper-button-prev::after{
   display: none;
 }
 
 .swiper-button-next i,
 .swiper-button-prev i{
   font-size: 35px;
   color: #fff;
 }
 
 .swiper-button-next{
   margin-right: 15px;
 }
 
 .swiper-button-prev{
   margin-left: 15px;
 }
 
 /* Responsive */
 
 @media screen and (max-width: 950px) {
   .swiper-slide {
     width: 40%;
   }
 }
 
 @media screen and (max-width: 700px) {
   .swiper-slide {
     width: 50%;
   }
 }
 
 @media screen and (max-width: 400px) {
   .swiper-slide {
     width: 60%;
      
   }
   .swiper-button-next i,
   .swiper-button-prev i{
     color: #242425;
   }
 }
 
 @media screen and (max-width: 500px) { 
  #squares{
    height: 35vh;
    }
   .mySwiper {
    width: 180px;
    height: 180px;
    }
  

 }

 
 
 /* 3d image left to right End*/
 /* 3d image up to down*/
 
 /*3d image up to down */
 #updown {
  gap: 10vh;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 130vh;
  background: linear-gradient(to bottom, #000e15, #000000);
  overflow: hidden;
  position: relative;
  padding: 0px;
}

.updowntext {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#card-one {
  top: 130%;
  background-image: url(./image/up1.jpg);
}

#card-two {
  top: 230%;
  background-image: url(./image/up2.jpg);
}

#card-three {
  top: 250%;
  background-image: url(./image/up3.jpg);
}


/* Media query for small screen sizes */
@media (max-width: 768px) {
  #updown {
    height: 300px; /* adjusted height for small screens */
  }
  .cards {
    width: 60vw; /* adjusted width for small screens */
    height: 40vh; /* adjusted height for small screens */
  }
}

.updown-img {
  width: 10vw;
  height: 10vw;
  background-image: url('./image/logo/Oxford Electronics Logo-01.png');
  background-size: cover;
  background-position: center;
}

.updowntext h1 {
  font-size: 3vw;
  color: #fff;
  text-align: center;
}

.updowntext p {
  font-size: 1vw;
  color: rgb(126, 126, 126);
  text-align: center;
}

.cards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80vh;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

/* Media Queries */

/* For screens smaller than 768px (tablets and mobiles) */
@media only screen and (max-width: 768px) {
  .updowntext {
    width: 90%;
    height: 60vh;
  }
  .cards {
    width: 90%;
    height: 60vh;
  }
  .updown-img {
    width: 15vw;
    height: 15vw;
  }
  .updowntext h1 {
    font-size: 4vw;
  }
  .updowntext p {
    font-size: 1.5vw;
  }
}

/* Existing styles for desktop screens */

/* New styles for mobile screens */
/* Existing styles for desktop screens */

/* New styles for mobile screens */
#updown-small {
  height: 100vh; /* adjusted height for small screens */
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: space-between;
  background: linear-gradient(to bottom, #000e15, #000000);
  overflow: hidden; /* add this to hide the overflow */
}

.updowntext-small {
   text-align: center;
  margin-bottom: 20px;
  text-wrap: wrap;
}
.updowntext-small p{
  font-size: 0.8rem;
}
.updowntext-small h1{
  font-size: 1.2rem;
}
.updowntext-small h1:hover{
  transform: perspective(100px) rotateX(45deg) rotateY(45deg);
}


.updown-img-small {
  width: 50vw;
  height: 10vh;
  margin: 2px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.updown-img-small img{
  min-width: 30vw;
  min-height: 10vh;
  object-fit: cover;
  transition: 0.3s;
 }

.cards-container-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.cards-small {
  width: 80vw;
  height: 20vh;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  margin: 10px;
  transition: 0.3s;
}

/* Media query for large screens */
@media (min-width: 769px) {
  #updown {
    display: block; /* show on large screens */
  }
  #updown-small {
    display: none; /* hide on large screens */
  }
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  #updown {
    display: none; /* hide on mobile screens */
  }
  #updown-small {
    display: block; /* show on mobile screens */
  }
}

/* For screens smaller than 480px (mobiles) */
@media only screen and (max-width: 480px) {
  .updowntext {
    width: 95%;
    height: 50vh;
  }
  .cards {
    width: 95%;
    height: 50vh;
  }
  .updown-img {
    width: 20vw;
    height: 20vw;
  }
  .updowntext h1 {
    font-size: 5vw;
  }
  .updowntext p {
    font-size: 2vw;
  }
}
/* Media Queries */

/* For screens smaller than 768px (tablets and mobiles) */
@media only screen and (max-width: 768px) {
  .updowntext {
    width: 90%;
    height: 60vh;
  }
  .cards {
    width: 90%;
    height: 60vh;
  }
  .updown-img {
    width: 15vw;
    height: 15vw;
  }
  .updowntext h1 {
    font-size: 4vw;
  }
  .updowntext p {
    font-size: 1.5vw;
  }
}

/* For screens smaller than 480px (mobiles) */
@media only screen and (max-width: 480px) {
  .updowntext {
    width: 95%;
    height: 50vh;
  }
  .cards {
    width: 95%;
    height: 50vh;
  }
  .updown-img {
    width: 20vw;
    height: 20vw;
  }
  .updowntext h1 {
    font-size: 5vw;
  }
  .updowntext p {
    font-size: 2vw;
  }
}
 /* 3d image up to down End */
/* company number*/
.metrics-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
  background-color: #222; /* Dark background */
  text-align: center;
  width: 100vw;
}

.metrics-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff; /* Light text color */
  margin-bottom: 20px;
}

.metrics-subtitle {
  font-size: 1.1rem;
  color: #ccc; /* Light gray for subtitle */
  margin-bottom: 40px;
  text-wrap: wrap;
  text-align: center;
  line-height: 1.6;
  font-weight: 300;
}

.metrics-stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 35px;
  flex-wrap: wrap;
}

.metrics-stat-item {
  display: flex;
  min-height: 140px;
  min-width: 190px;
  flex-direction: column;
  align-items: center; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid #444;
  box-shadow: 5px 12px 15px rgba(0, 0, 0, 0.5), inset 5px 8px 5px rgba(0, 0, 0, 0.5);
}

.metrics-stat-number {
  font-size: 3rem;
  font-weight: 600;
  color: #0097e8; /* Pink color for numbers */
}

.metrics-stat-description {
  font-size: 1.1rem;
  color: #999;
  font-weight: 300;
  margin-top: 10px;
}

.metrics-link {
  font-size: 1.1rem;
  color: #0097e8; /* Pink color for link */
  text-decoration: none;
  font-weight: 500;
}

.metrics-link:hover {
  text-decoration: underline;
}

 
@media screen and (max-width: 600px) {
  .metrics-container{
    text-wrap: wrap;
     padding: 5px;
    max-width: 97vw;
    }
  .metrics-stats {
    padding-left: 8px;
    padding-right: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .metrics-stat-item {
    margin: 0;
    display: flex;
    flex-direction: column;
   justify-content: center;
   min-width: 40% !important; /* Take full width on small screens */
    min-height: 40%;
   }
  .metrics-stat-number{
    font-size: 2.1rem;
  }
}


 
 /* company number End*/
 /* testmonial*/
 .testimonials-section{
   background: #000000;
   color: whitesmoke;
   max-width: 100vw;
   padding: 2px;
  }
 
 .testimonials-section h1{
   padding: 0; margin: 14px;
   text-align: center;
   font-weight: 700;

 }
 .testimonials-section .section-header{
   max-width: 700px;
   text-align: center;
   margin: 30px auto 40px;
 }
 .section-header h1{
   position: relative;
   font-size: 36px;
   color: black;
 }
 .testimonials-container{
   position: relative;
 }
 .testimonials-container .testimonial-card{
   padding: 20px;
 }
 .testimonial-card .test-card-body{
   background-color: whitesmoke;
   box-shadow: 2px 2px 20px rgba(0,0,0,0.12);
   padding: 20px;
   color: black;
 }
 .test-card-body .quote{
   display: flex;
   align-items: center;
 }
 .test-card-body .quote i{
   font-size: 45px;
    margin-right: 20px;
 }
 
 .test-card-body p{
   margin: 10px 0px 15px;
   font-size: 14px;
   line-height: 1.5;
  }
 .test-card-body .ratings{
   margin-top: 20px;
 }
 .test-card-body .ratings i{
   font-size: 17px;
    cursor: pointer;
 }
 .testimonial-card .profile{
   display: flex;
   align-items: center;
   margin-top: 25px;
 }
 .profile .profile-image{
   width: 55px;
   height: 55px;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 15px;
 }
 .profile .profile-image img{
   width: 100%;
   height: 100%;
   border-radius: 50%;
   object-fit: cover;
 }
 .profile .profile-desc{
   display: flex;
   flex-direction: column;
 }
 .profile-desc span:nth-child(1){
   font-size: 24px;
   font-weight: bold;
  }
 .profile-desc span:nth-child(2){
   font-size: 15px;
  }
 .owl-nav{
   position: absolute;
   right: 20px;
   bottom: -10px;
 }
 .owl-nav button{
   border-radius: 50% !important;
 }

 .owl-nav .owl-prev i,
 .owl-nav .owl-next i{

  display: none;

   padding: 10px !important;
   border-radius: 50%;
   font-size: 18px !important;
   background-color: black !important;
    cursor: pointer;
   transition: 0.4s;
 }
 .owl-nav .owl-prev i:hover,
 .owl-nav .owl-next i:hover{
   background-color: black !important;
   color: #e9e9e9;
 }
 .owl-dots{
   margin-top: 15px;
  }
 .owl-dots .owl-dot span{
    padding: 6px !important;
   border: 1px solid white !important;
   
  }
 .owl-dot.active span{
   background-color: #028fbe !important;
 }
 
 

 /* testmonial End*/
 /* Footer*/
footer{
  width: 100vw;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
 width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}
 
 
 /* Footer End*/


 /* responsive navbar*/

  
    @media (max-width: 768px) {
        .navigation-panel {
            width: 100%;
            max-width: 100%;
            border-right: none;
            border-bottom: 1px solid #e0e0e0;
        }
    }
 
 /* responsive navbar end*/

 
 .social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  padding: 0;
  width: 100%;
  gap: 30px;
}

.social-link {
  display: inline-block;
  margin: 0 10px;
  font-size: 35px;
  color: white;
  text-decoration: none; 
 
}
.social-links a {
  background-color: whitesmoke;
   border-radius: 50%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  box-shadow:  0 5px 10px rgba(0, 0, 0, 0.5);
  }
  .social-links a i{
    height: 35px;
    color: black;  }
.social-links a::before{
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  padding: 0.5rem 0.5rem;
  max-height: 30px;
  min-width: 65px;
  font-size: 0.9rem;
  font-weight: 500;
  transform: translateY(-30px)  rotate(25deg);
  opacity: 0;
  transition: 0.3s;
 }

.social-links a:hover::before{
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}
.social-links a:hover::after{
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}

.social-links a:hover{
  background-color: var(--accent-color);
  color: rgb(255, 255, 255);
}

.social-links a:hover i{
  color: white;
  transition: 0.3s;
} 

.social-links a::after{
  content:  '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  transform: translateY(0) rotate(25deg);
  opacity: 0;
  transition: 0.3s;
}
/**/
@media only screen and (max-width: 768px) {
  .social-links a {
    /* existing styles */
    transform: translateY(0);
    transition: transform 0.3s;
  }

  .social-links a::before {
    /* existing styles */
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
  }

  .social-links a::after {
    /* existing styles */
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
  }

  .social-links a.animate::before {
    transform: translateY(-65px) rotate(0);
    opacity: 1;
  }

  .social-links a.animate::after {
    transform: translateY(-42px) rotate(0);
    opacity: 1;
  }

  .social-links a.animate {
    background-color: var(--accent-color);
    color: rgb(255, 255, 255);
  }

  .social-links a.animate i {
    color: white;
    transition: 0.3s;
  }
}

/* Media query for small screens *//* Media query for mobile devices */
@media (max-width: 620px) {
  /* Hide the logo image on mobile devices */
  footer  #some #footer-logo {
    display: none;
  }

  footer{
    max-height: 80vh;
    overflow: hidden;
  }

  /* Center the footer columns */
  footer > div {
    flex: 1 1 100%;
    text-align: center;
  }

  /* Reduce the font size and margins on mobile devices */
  footer h3 {
    font-size: 14px;
    margin-bottom: 8px;
  }

  footer p {
    font-size: 10px;
    margin-bottom: 8px;
  }

  footer a {
    font-size: 10px;
    margin-bottom: 8px;
  }

  /* Reduce the social icon size on mobile devices */
  footer .footer-social-icon i {
    height: 25px;
    width: 25px;
    line-height: 23px;
  }

  /* Adjust the margins and padding on mobile devices */
  footer .footer-widget-heading {
    margin-bottom: 15px;
  }

  footer .footer-widget ul li {
    width: 100%;
    margin-bottom: 8px;
  }

  footer .copyright-area {
    padding: 10px 0;
  }

  footer .copyright-text p {
    font-size: 8px;
  }
  
}

@media screen and (max-width: 600px) {
  #copyright{
    padding-top: 12px ;
    background-color: black;
    color: whitesmoke;
    padding-bottom: 12px;
    text-align: center;
    width: 100%;
  }
}