html,body{

  height: 100%;
  width: 100%;
}
body{
  overflow-x: hidden;
}

/*navbar*/
#main{
  height: 100%;
  width: 100%;

background-size: cover;
background-position: center;
}
#nav{
  display:flex ;
  align-items: center;justify-content: space-between;
  padding: 40px 40px;
}
#nav i{

  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}
#full{

height: 100%;
width: 30%;
position: absolute;
background-color: #ede9e970;
top: 0;
right: -50%;
backdrop-filter: blur(10px);
padding: 20px 60px;
}
 
#full h4{
font-size: 50px;
font-weight: 500;
margin-bottom: 5px;
padding-left: 20px;
}

#full i{

position: absolute;
top: 7%;
right: 10%;
border-color: #fff;
border-radius: 50%;
padding: 5px;
font-weight: 600;
font-size: 27px;
cursor: pointer;
}
/* navbar end*/
/* image slider*/




/* image slider End*/
/* 3d image left to right*/



#squares{
  overflow-x: hidden;
  background-color: #002732; 
  box-shadow: inset 0 -30px 50px rgba(0,0,0, 0.8), inset 0 35px 40px rgba(0, 118, 173, 0.422);
  height: 90vh; 
  width: 100vw; 
  position: relative; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.mySwiper {
 width: 400px;
 height: 400px;
 }

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  overflow: hidden;
   margin: 10px;
   border: 5px solid #002142 ;
   box-shadow: 0 -15px 30px rgba(0,0,0, 0.8);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}

.swiper-button-next i,
.swiper-button-prev i{
  font-size: 35px;
  color: #fff;
}

.swiper-button-next{
  margin-right: 15px;
}

.swiper-button-prev{
  margin-left: 15px;
}

/* Responsive */

@media screen and (max-width: 950px) {
  .swiper-slide {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .swiper-slide {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .swiper-slide {
    width: 60%;
  }
  .swiper-button-next i,
  .swiper-button-prev i{
    color: #242425;
  }
}



/* 3d image left to right End*/
/* 3d image up to down*/



/* 3d image up to down End */
/* company number*/



/* company number End*/
/* testmonial*/



/* testmonial End*/
/* Footer*/
.footer-wrapper {
  padding: 25px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  min-height: 400px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0); /* Ensure footer background is black */
  color: white;
  border-top: 2px solid #393939;

}

.footer-container {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-x: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  
}

.footer-column {
  flex: 1;
  margin-bottom: 10px;
  min-width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  text-align: center;
  font-size: 0.9rem;
  
}

.footer-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff;
}

.footer-text, .footer-link {
  font-size: 1.2rem;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-link:hover {
  text-decoration: underline;
  color: #09a6d4;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.footer-input, 
.footer-select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #666;
  background-color: #222;
  color: #fff;
  font-size: 0.9em;
}

.footer-button {
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-size: 0.9em;
}

.footer-button:hover {
  background-color: #ccc;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icon {
  font-size: 1.5em;
  color: #ccc;
  text-decoration: none;
}

.bottom-text {
  text-align: center;
  font-size: 0.8em;
  margin-top: 30px;
  color: #666;
}

.certification-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 4px;
  padding-top: 10px;
  font-size: 0.9rem;
}

.certification-item {
  flex: 1;
  min-width: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.certification-img {
  height: 40px;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-column {
      margin: 10px 0;
  }

  .certification-wrapper {
      flex-direction: column;
  }

  .certification-item {
      margin-bottom: 10px;
  }
}



/* Footer End*/